h1 {
  display: flex;
  justify-content: center;
}

.settings-container {
  margin: 1em;
  display: flex;
  justify-content: flex-end;
}

.sensors-container {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.sensors-container div {
  margin: 1em;
}

.tableClass {
  table-layout : fixed;
  width: 100%;
}

td {
  text-align: center;
}